@model IEnumerable<FEBiblioteca.Models.ReportesModel>

@section noheader{ 
<h1></h1>
}

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Habitaciones Registradas - Hotel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #203869;
            padding: 10px;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
        }

            header img {
                vertical-align: middle;
                margin-right: 10px;
            }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            background-color: #2c3e50; /* Fondo blanco para el contenido */
            border-radius: 5px; /* Añado bordes redondeados */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrego sombra al contenedor */
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            margin-right: 10px;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

        /* Estilo para el botón de Crear */
        .btn-crear {
            background-color: #28a745;
        }

        /* Estilo para el botón de Editar */
        .btn-editar {
            background-color: skyblue;
        }

        /* Estilo al pasar el cursor sobre los botones */
        .btn:hover {
            opacity: 0.8;
        }

        .btn-volver {
            background: lightslategrey;
        }
        .table {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Times New Roman', Times, serif; /* Tipo de letra Times New Roman */
            background-color: whitesmoke; /* Fondo gris más claro */
            color: #333333; /* Color de texto gris oscuro */
            padding: 10px; /* Añade espacio interno */
            text-align: center; /* Centra el texto */
            border-bottom: 2px solid #aaaaaa; /* Añade una línea inferior */
        }

            .table th, .table td {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }

            .table th {
                background-color: #f2f2f2;
                text-align: left;
            }

            .table td {
                text-align: center;
            }
    </style>
</head>
<body>
    <header>
        <h1>
            <h1>
                <img src="https://cdn-icons-png.flaticon.com/512/841/841791.png" alt="Logo" width="50">
                Reportes
            </h1>
        </h1>
    </header>

    <div class="container">


        <table class="table">
            <thead>
                <tr>
                    <th>ID Reporte</th>
                    <th>Reporte</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id_reporte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reporte)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            <a class="btn btn-crear" asp-action="MenuAdministrador" asp-controller="Usuarios">Regresar Inicio</a>

        </p>
    </div>
</body>
</html>
