@{
    ViewData["Title"] = "Home Page";
}

<style>
    .center-img {
        display: flex;
        height: 80vh;
        justify-content: center;
        align-items: center;
        background-repeat: repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        background-color: #2c3e50;
        color: #ffffff;
    }
</style>

<h1 class="display-4"></h1>
<img class="center-img" src="~/logo2.jpg" alt="Hotel" />
