

@{
    ViewData["Title"] = "Programación Avanzada";
}
<h1>@ViewData["Title"]</h1>





<p>Thamara Ñango </p>
<p>Samuel Perez Salgado </p>
<p>Jose David Arias </p>
<p>Lenny Rosales Rodriguez</p>
<p>Laureen Rosales Rodriguez </p>


<a class="btn alert-primary" href="http://localhost:60890/">Regresar</a>